<%- include("_header") %>

<div class="container">
    <h2>Não há dados do grupo escolhido.</h2>
</div>

<div class="container">
    <a href="javascript:history.back()" class="btn btn-primary">Voltar</a>
</div>

<br>
<%- include("_footer") %>