<%- include("_header") %>

<div class="container">
    <h2>Não há dados do grupo escolhido.</h2>
</div>

<div class="container">
    <a class="btn btn-primary" id="back-btn">Voltar</a>
</div>

<br>
<%- include("_footer") %>