<br>
<footer>
    <small>&copy; Feito pelo aluno Salef Gabriel G. Silva</small>
</footer>

</div>

</body>
<script>
    $('#back-btn').on('click', function(e) {
       window.history.go(-1);
       return false;
    })
</script>
</html>