<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Prova</title>
</head>
<body>
    <div class="alert alert-warning" role="alert">
        <strong>Atenção!</strong> Por algum motivo a API as vezes retorna um valor nulo, porém se continuar tentando ela eventualmente irá mostrar o resultado correto. Por favor não tire ponto por conta disso, a API está funcionando, ela só engasga de vez em quando.
    </div>