<%- include("_header") %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <%= rowspercent %>% dos votos dessa faixa etária são sim.
            </h2>
            <h2>
                <%= rowsnpercent %>% dos votos dessa faixa etária são não.
            </h2>
        </div>
    </div>
</div>

<div class="container">
    <a class="btn btn-primary" id="back-btn">Voltar</a>
</div>

<%- include("_footer") %>