<%- include("_header") %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>
                <%= rowspercent %>% dos votos dessa renda mensal são sim.
            </h2>
            <h2>
                <%= rowspercentn %>% dos votos dessa renda mensal são não.
            </h2>
        </div>
    </div>
</div>

<div class="container">
    <a href="javascript:history.back()" class="btn btn-primary">Voltar</a>
</div>

<%- include("_footer") %>